/* importing my tailwind  */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* background image */
body {
  background-image: url("../public/assets/images/desert.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

span {
  color: white;
}

.image-wrapper {
  background-size: cover;
  background-position: center;
  height: 0;
  padding-bottom: 56.25%;
  transition: all 0.2s ease;
}

.image-wrapper:hover {
  height: 200px; /* or whatever height you want the image to be */
}
.card{
  margin-left: 37%;
  margin-bottom: 13.9rem;
}
